<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="https://www.clarewallace.co.uk/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="https://www.clarewallace.co.uk/assets/libs/fontawesome/all.min.js"></script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\(','\)']],
          displayMath: [['\[','\]'], ['$$','$$']]
        }
    });
</script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

  <link rel="stylesheet" href="https://www.clarewallace.co.uk/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.clarewallace.co.uk/assets/apple-icon-152x152.png">
  <link rel="shortcut icon" href="https://www.clarewallace.co.uk/assets/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
