---
layout: default
---
<h3> Projects </h3>

{{content}}

Some updates on the projects I've been working on recently:

<div class="row g-5 mb-5">
  <div class="col-md-12">
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - latest update {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>


<h3>Talks</h3>

A few talks I've given recently:

{% include talks.html %}

The full list is <a href="{{ site.github.url }}/talks">here</a>.